# Local python venv for development
.venv

# PyInstaller build and dist
build
dist

# Local docs
docs

# Linux script
auto-dist-server.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

