# Local python venv for development
.venv

# PyInstaller build and dist
build
dist

# Local docs
docs

# PyInstaller spec
server.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

